#data_container_grid {
    layout: grid;
    grid-size: 2 2;
    grid-gutter: 1 2;
}

#data_table_gppga {
    height: 100%;
    width: 100%;
}

#left_data_table_panel {
    row-span: 2;
    height: 100%;
    width: 100%;
    background: $ panel;
    border: dodgerblue;
}

#data_right_top_container {
    layout: grid;
    grid-size: 2 2;
    grid-rows: 80% 20%;
    background: $panel;
    border: greenyellow;
}

#b_upd_container {
    column-span: 2;
    align: center middle;
}

#b_update_table {

}

#data_right_bottom_container {
    layout: grid;
    grid-size: 2;
    height: 100%;
    background: $panel;
    border: red;
}

#select_format_for_save_table {
    column-span: 2;
}

#container_tab_plot_gpgga {
    layout: grid;
    grid-size: 2 3;
    grid-columns: 70% 30%;
}

#container_tab_plot_gpgga Input {

}

#container_plot_gpgga {
    row-span: 3
}

#container_input_date_gpgga {
    align: center middle;
    width: 75%;
}

#container_right_gpgga {
    align: center middle;
}

#container_b_upd_gprmc_plot {
    align: center middle;
}

#container_tab_plot_gprmc {
    layout: grid;
    grid-size: 3 3;
    grid-columns: 3fr 1fr 1fr;
    grid-rows: 5fr 5fr 1fr;
    content-align: center middle;
}

#container_plot_gprmc {
    row-span: 3;
}

#container_b_upd_gprmc_plot {
    column-span: 2;
    align: center middle;
}